/* Variable Font Definition */
@font-face {
  font-family: 'Fira Sans';
  /* '100 900' tells the browser this single file covers all weights from Thin to Black */
  font-weight: 100 900;
  font-style: normal; 
  /* Loading the variable file */
  src: url('./fonts/Firava.woff2') format('woff2-variations'),
       url('./fonts/Firava.woff2') format('woff2');
}

/* Variable Font Definition */
@font-face {
  font-family: 'Fira Sans';
  /* '100 900' tells the browser this single file covers all weights from Thin to Black */
  font-weight: 100 900;
  font-style: italic; 
  /* Loading the variable file */
  src: url('./fonts/FiravaItalic.woff2') format('woff2-variations'),
       url('./fonts/FiravaItalic.woff2') format('woff2');
}

/* CSS Variables */
:root {
  --bg-dark: #041E32;
  --text-light: #ffffff;
  --text-muted: #9ba5ad;
  --text-hover: #cdd2d6;
  --font-primary: "Fira Sans", sans-serif;
}

html {
  background: var(--bg-dark);
  overflow-y: scroll;
}

body {
  background: var(--bg-dark);
  margin: 0;
  font-size: 100%;
  padding: 1.5% 9% 7% 5%;
}


/* Base text styles */

p, a, h1, h2 {
  color: var(--text-light);
  font-family: var(--font-primary);
  text-align: left;
}

p {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0.75em;
}

p.par {
  font-size: 1.25em;
}

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 0.75em 0;
}

h2 {
  font-size: 1.05em;
  font-weight: 400;
  font-style: italic;
  margin: 1em 0;
}


/* Navigation & Link styles */

.nav, .link { 
    transition: color 0.2s ease; /* Non-instantaeous color transition */
}

a.nav {
  color: var(--text-light);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;    
}

a.nav:hover,
a.nav:active {
  color: var(--text-hover);
}

a.link {
  color: var(--text-muted);
  font-family: var(--font-primary);
  font-style: italic;
  text-decoration: none;    
}

a.link:hover,
a.link:active {
  color: var(--text-hover);
}


/* Utility classes */

.container-fluid {
  padding-top: 5%;
  background-color: var(--bg-dark);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(155, 165, 173, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  color: var(--text-muted);
  border-color: var(--text-muted);
}
